// Enable Docker globally
docker.enabled = true

// Define profiles
profiles {
    docker {
        process {
            executor = 'local'
        }
        docker.enabled = true
        docker.userEmulation = true
    }
}

// Parameters
params {
    // SRA accessions
    accessions = "./data/accession_list.csv"

    // Parameters for fetchngs
    fetchngs_outdir = "results/fetchngs"

    // Parameters for ampliseq
    ampliseq_outdir = "results/ampliseq"
    fw_primer = 'TCGTCGGCAGCGTCAGATGTGTATAAGAGACAGCCTACGGGNGGCWGCAG'
    rv_primer = 'GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAGGACTACHVGGGTATCTAATCC'
    metadata = "./data/metadata.csv"

    // Output folder
    outdir = 'results'
}

// Global process settings
process {
    cpus = 4
    memory = '16 GB'
    errorStrategy = 'retry'
    maxRetries = 2
}