docker.enabled = true

profiles {
    docker {
        process.executor = 'local'
        docker.enabled = true
    }
}

params {
    // Primer sequences
    FW_primer = 'TCGTCGGCAGCGTCAGATGTGTATAAGAGACAGCCTACGGGNGGCWGCAG'
    RV_primer = 'GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAGGACTACHVGGGTATCTAATCC'

    // Output folder
    outdir = 'results'
}

process {
    withName: download_fastq {
        publishDir = "${params.outdir}/raw_fastq", mode: 'copy'
    }

    withName: run_ampliseq {
        publishDir = "${params.outdir}/ampliseq", mode: 'copy'
    }

}
