// Enable Docker globally
docker {
    enabled = true
    userEmulation = true
}

// Define profiles
profiles {
    docker {
        process.executor = 'local'
        docker.enabled = true
        docker.userEmulation = true
    }
}

// Parameters
params {
    // SRA accessions
    accessions = "./data/accession_list.csv"

    // Parameters for ampliseq
    ampliseq_outdir = "results/ampliseq"
    FW_primer = 'TCGTCGGCAGCGTCAGATGTGTATAAGAGACAGCCTACGGGNGGCWGCAG'
    RV_primer = 'GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAGGACTACHVGGGTATCTAATCC'
    metadata = "./data/metadata.csv"

    // Output folder
    outdir = 'results'
}

// Global process settings
process {
    cpus = 4
    memory = '8 GB'
    errorStrategy = 'retry'
    maxRetries = 2

    withName: 'DOWNLOAD_FASTQ' {
        cpus = 2
        memory = '4 GB'
        time = '4.h'
    }
}